{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}


<div class="container mt-4">


<h3>
Documents for {{ operation.operation_number }}
</h3>


<h5 class="mt-4">
Required Documents
</h5>


<ul>

{% for doc in required_documents %}

<li>
{{ doc }}
</li>

{% endfor %}

</ul>



<hr>


<h5>
Upload Document
</h5>


<form method="post" enctype="multipart/form-data">

{% csrf_token %}


{{ form|crispy }}


<button
class="btn btn-primary">

Upload

</button>


</form>



<hr>


<h5>
Uploaded Files
</h5>


<table class="table">


<tr>

<th>
Type
</th>

<th>
File
</th>

<th>
OCR Status
</th>

</tr>


{% for item in attachments %}

<tr>

<td>
{{ item.get_attachment_type_display }}
</td>


<td>

<a href="{{ item.file.url }}">
{{ item.original_filename }}
</a>

</td>


<td>
{{ item.get_ocr_status_display }}
</td>


</tr>


{% empty %}

<tr>
<td colspan="3">
No documents uploaded.
</td>
</tr>

{% endfor %}


</table>



<!-- <a 
href="{% url 'operation_ocr' operation.pk %}"
class="btn btn-success">

Continue

</a> -->
<form
    method="post"
    action="{% url 'operation_ocr' operation.pk %}"
>
    {% csrf_token %}

    <button
        class="btn btn-primary">

        Continue

    </button>

</form>

</div>


{% endblock %}