{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit Waste Batch
{% endblock %}



{% block extrastyle %}

<style>

.form-card{

    background:white;
    padding:25px;
    border-radius:12px;
    margin-bottom:20px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

}


.form-card h4{

    border-bottom:1px solid #ddd;
    padding-bottom:10px;
    margin-bottom:20px;

}


.form-actions{

    display:flex;
    gap:10px;

}


#liquid-section{

    display:none;

}

</style>

{% endblock extrastyle %}





{% block content %}



<div class="content">



<h3>
Edit Waste Batch:
{{batch.waste_id}}

</h3>




<form method="post"
enctype="multipart/form-data">


{% csrf_token %}




<div class="form-card">


<h4>
Waste Information
</h4>


{% crispy form %}


</div>





<div id="liquid-section"
class="form-card">


<h4>
Liquid Waste Details
</h4>


{% crispy liquid_form %}


</div>






<div class="form-card">


<h4>
Conditioning Information
</h4>


{% crispy conditioning_form %}


</div>






<div class="form-actions">


<button
type="submit"
class="btn-blue">

Save Changes

</button>



<a href="{% url 'waste_detail' batch.pk %}"
class="btn-gray">

Cancel

</a>



</div>



</form>


</div>




<script>


function toggleLiquidFields(){


let type =
document.getElementById("id_waste_type");


let section =
document.getElementById("liquid-section");



if(type.value === "LIQUID"){

section.style.display="block";

}

else{

section.style.display="none";

}


}




document.addEventListener(
"DOMContentLoaded",
function(){


toggleLiquidFields();


let type =
document.getElementById("id_waste_type");


if(type){

type.addEventListener(
"change",
toggleLiquidFields
);

}


});



</script>




{% endblock %}