{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
{% trans "Add Facility" %}
{% endblock %}





{% block content %}


<div class="form-card">


<div class="form-header">

<h2>
{% trans "Add Facility" %}
</h2>


<p>
{% trans "Create a new facility record" %}
</p>


<div class="form-actions mt-3">

<a href="{% url 'facility_import' %}"
   class="btn btn-secondary">

{% trans "Import CSV" %}

</a>

</div>


</div>





<form method="post">

{% csrf_token %}


{% crispy form %}


</form>


</div>


{% endblock %}