{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
{% translate "Facilities" %}
{% endblock %}



{% block content %}


{% block extrastyle %}

<style>
.table-toolbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;

    margin-bottom:15px;

    flex-wrap:wrap;
}




.pagination {

    display:flex;
    justify-content:center;
    align-items:center;

    gap:6px;

    margin-top:20px;

}



.pagination a,
.pagination span {

    padding:6px 12px;

    border:1px solid #ccc;

    border-radius:5px;

    text-decoration:none;

}



.pagination .current {

    background:#0d6efd;

    color:white;

}



.page-info {

    text-align:center;

    margin-top:10px;

    color:#666;

}

.actions-column {
    text-align: center;
    vertical-align: middle;
}

</style>


{% endblock extrastyle %}




<div class="content">



<!-- ================= HEADER ================= -->




<div class="table-toolbar">

    <div class="search-box">

       <form method="get">

<input
type="text"
name="search"
value="{{ search }}"
placeholder="{% trans 'Search...' %}"
>


<input
type="hidden"
name="page_size"
value="{{ page_size }}"
>


<button
type="submit"
class="btn btn-outline-primary">

{% trans "Search" %}

</button>


</form>

    </div>

    










<div class="header-group">


<label>

{% translate "Items" %}

</label>



<form method="get">

<input
type="hidden"
name="search"
value="{{search}}"
>



<select
name="page_size"
onchange="this.form.submit()"
>

<option value="10"
{% if page_size == 10 %}selected{% endif %}
>
10
</option>


<option value="25"
{% if page_size == 25 %}selected{% endif %}
>
25
</option>


<option value="50"
{% if page_size == 50 %}selected{% endif %}
>
50
</option>


</select>


</form>


</div>





<div class="header-group">


<a href="{% url 'facility_create' %}"

class="btn-blue">

+

{% translate "Add Facility" %}

</a>


</div>



</div>







<!-- ================= TABLE ================= -->


<div class="table-scroll">


<table>


<thead>


<tr>


<th>
{% translate "Name" %}
</th>


<th>
{% translate "Responsible Person" %}
</th>


<th>
{% translate "Telephone" %}
</th>


<th>
{% translate "Email" %}
</th>


<th>
{% translate "Address" %}
</th>


<th>
{% translate "Postal Code" %}
</th>


<th>
{% translate "National ID" %}
</th>


<th>
{% translate "Economic Code" %}
</th>





<th class="actions-column">
    {% trans "Actions" %}
</th>



</tr>


</thead>






<tbody>



{% for facility in facilities %}


<tr>



<td>

{{ facility.name }}

</td>




<td>

{{ facility.responsible_person }}

</td>




<td>

{{ facility.telephone }}

</td>




<td>

{{ facility.email|default:"-" }}

</td>




<td>

{{ facility.address1 }}

{% if facility.address2 %}

<br>

{{ facility.address2 }}

{% endif %}

</td>





<td>

{{ facility.postal_code|default:"-" }}

</td>





<td>

{{ facility.national_id|default:"-" }}

</td>





<td>

{{ facility.economic_code|default:"-" }}

</td>

<td class="actions-column">

    <a href="{% url 'facility_update' facility.id %}"
       class="btn btn-sm btn-primary">
        ✏️
    </a>

    <a href="{% url 'facility_delete' facility.id %}"
       class="btn btn-sm btn-danger">
        🗑️
    </a>

</td>





</tr>



{% empty %}


<tr>


<td colspan="9">

{% translate "No facilities found." %}

</td>


</tr>


{% endfor %}



</tbody>



</table>


</div>






<!-- ================= PAGINATION ================= -->

<!-- ================= PAGINATION ================= -->

<div class="pagination">


{% if facilities.has_previous %}

<a href="?{{ query_string }}&page=1">
    «
</a>

<a href="?{{ query_string }}&page={{ facilities.previous_page_number }}">
    ‹
</a>

{% endif %}





{% for num in facilities.paginator.page_range %}


{% if num == 1 or num == facilities.paginator.num_pages or num >= facilities.number|add:"-2" and num <= facilities.number|add:"2" %}


{% if num == facilities.number %}

<span class="current">
    {{ num }}
</span>

{% else %}

<a href="?{{ query_string }}&page={{ num }}">
    {{ num }}
</a>

{% endif %}





{% elif num == facilities.number|add:"-3" or num == facilities.number|add:"3" %}

<span>
    ...
</span>


{% endif %}



{% endfor %}






{% if facilities.has_next %}


<a href="?{{ query_string }}&page={{ facilities.next_page_number }}">
    ›
</a>


<a href="?{{ query_string }}&page={{ facilities.paginator.num_pages }}">
    »
</a>


{% endif %}



</div>

</div>

</div>



{% endblock %}