{% load static %}
<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
            <img src="{% static 'img/logo-mini.png' %}" alt="Logo" style="height:30px;">

            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                IRWA
            </a>
        </div>
        {% include 'includes/menu-list.html' %}
    </div>
</div>