{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<h3>{% trans "Create Contracts" %}</h3>

<p>
{% blocktrans count counter=sources.count %}
The following 1 source will receive a contract:
{% plural %}
The following {{ counter }} sources will receive a contract:
{% endblocktrans %}
</p>

<table class="table table-bordered">

<thead>
<tr>
    <th>{% trans "Serial Number" %}</th>
    <th>{% trans "Nuclide" %}</th>
    <th>{% trans "Facility" %}</th>
</tr>
</thead>

<tbody>

{% for s in sources %}
<tr>
    <td>{{ s.serial_number }}</td>
    <td>{{ s.Nuclide }}</td>
    <td>{{ s.Facility }}</td>
</tr>
{% endfor %}

</tbody>

</table>

<form method="post">

    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-success">
        Create Contracts
    </button>

</form>

{% endblock %}