{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
{% trans "Issue License" %}
{% endblock %}



{% block content %}

<div class="container-fluid py-4">


<div class="row justify-content-center">

<div class="col-xl-10">


<div class="card shadow-sm">


<div class="card-header">

<h3>
{% trans "Issue License" %}
</h3>

</div>



<div class="card-body">


<p>
<strong>
{% trans "Facility:" %}
</strong>

{{ license_request.facility }}

</p>



<p>
<strong>
{% trans "Contract Number:" %}
</strong>

{% if license_request.contract %}

{{ license_request.contract.contract_number }}

{% endif %}

</p>



<h5 class="mt-4">
{% trans "Requested Sources" %}
</h5>



<table class="table table-bordered table-hover">

<thead class="table-light">

<tr>

<th>#</th>

<th>{% trans "Type" %}</th>

<th>{% trans "Nuclide" %}</th>

<th>{% trans "Serial" %}</th>

</tr>

</thead>


<tbody>


{% for source in license_request.sources.all %}

<tr>

<td>
{{ forloop.counter }}
</td>


<td>
{{ source.get_source_type_display }}
</td>


<td>
{{ source.nuclide }}
</td>


<td>
{{ source.serial_number }}
</td>


</tr>


{% empty %}

<tr>

<td colspan="4" class="text-center">

{% trans "No sources found." %}

</td>

</tr>

{% endfor %}


</tbody>

</table>



<hr>


<form method="post" enctype="multipart/form-data">

{% csrf_token %}

{{ form|crispy }}


<div class="mt-4">

<a
href="{% url 'ready_to_issue_list' %}"
class="btn btn-secondary">

{% trans "Cancel" %}

</a>


<button
class="btn btn-success"
type="submit">

{% trans "Issue License" %}

</button>


</div>


</form>


</div>

</div>


</div>

</div>


</div>


{% endblock %}