{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Ready To Issue" %}
{% endblock %}


{% block content %}

<div class="container-fluid py-4">

<div class="card shadow-sm">

<div class="card-header">

<h3>
{% trans "Ready To Issue Licenses" %}
</h3>

</div>


<div class="card-body">


<table class="table table-bordered table-hover">

<thead class="table-light">

<tr>

<th>
{% trans "Letter Number" %}
</th>

<th>
{% trans "Facility" %}
</th>

<th>
{% trans "Contract Number" %}
</th>

<th>
{% trans "Action" %}
</th>

</tr>

</thead>


<tbody>


{% for license in licenses %}

<tr>

<td>
{{ license.letter_number }}
</td>


<td>
{{ license.facility }}
</td>


<td>

{% if license.contract %}
{{ license.contract.contract_number }}
{% endif %}

</td>


<td>

<a
href="{% url 'issue_license' license.pk %}"
class="btn btn-primary btn-sm"
>

{% trans "Issue License" %}

</a>

</td>


</tr>


{% empty %}

<tr>

<td colspan="4" class="text-center">

{% trans "No licenses ready to issue." %}

</td>

</tr>


{% endfor %}


</tbody>

</table>


</div>

</div>

</div>

{% endblock %}