{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html

lang={% get_current_language as LANGUAGE_CODE %}

dir="{% if LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}"

class="{% if LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}"

>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}My App{% endblock %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extrastyle %}  {% endblock %}
</head>

<body>


<!-- Sidebar -->
<!-- Overlay -->
<div class="overlay" id="overlay"></div>


<!-- Sidebar -->
<aside class="sidebar" id="sidebar">


    <div class="sidebar-header">

        <button class="menu-btn" id="toggleSidebar">
            <span></span>
            <span></span>
            <span></span>
        </button>


        <div class="logo">
            IRWA
        </div>

    </div>



    <nav class="nav">

    

    <a href="#">
            🏠 Home
        </a>

    <a href="#">
        ➕ New Services
    </a>


    <a href="#">
        📂 Services
    </a>


    <a href="{% url 'tables' %}"
       class="{% if request.resolver_match.url_name == 'tables' %}active{% endif %}">
        ☢ Sources
    </a>


    <a href="{% url 'waste_list' %}"
       class="{% if request.resolver_match.url_name == 'waste_list' %}active{% endif %}">
        ♻ Waste
    </a>


    <a href="{% url 'contract_index' %}"
       class="{% if request.resolver_match.url_name == 'contract_index' %}active{% endif %}">
        📑 Contracts
    </a>


    <a href="{% url 'analytics_home' %}"
       class="{% if request.resolver_match.url_name == 'analytics_home' %}active{% endif %}">
        📊 Reports
    </a>


    {% if request.user.is_authenticated %}

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}

        <button class="nav-btn" type="submit">
            Logout
        </button>

    </form>

    {% else %}

    <a href="{% url 'login' %}">
        Login
    </a>

    {% endif %}


</nav>


</aside>

<!-- Main -->
<main class="main" id="main">

   

    {% block content %}
    {% endblock %}

</main>
<meta name="csrf-token" content="{{ csrf_token }}">
<script src="{% static 'js/base.js' %}"></script>
{% block extrascript %}
{% endblock %}

</body>
</html>