{% load static %}
{% load i18n %}

{% get_current_language as CURRENT_LANGUAGE %}

<!DOCTYPE html>
<html
    lang="{{ CURRENT_LANGUAGE }}"
    dir="{% if CURRENT_LANGUAGE == 'fa' %}rtl{% else %}ltr{% endif %}"
    class="{% if CURRENT_LANGUAGE == 'fa' %}rtl{% else %}ltr{% endif %}"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}My App{% endblock %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extrastyle %}  {% endblock %}
</head>

<body>


<!-- Sidebar -->
<!-- Overlay -->
<div class="overlay" id="overlay"></div>


<!-- Sidebar -->
<aside class="sidebar" id="sidebar">


    <div class="sidebar-header">

        <button class="menu-btn" id="toggleSidebar">
            <span></span>
            <span></span>
            <span></span>
        </button>


        <div class="logo">
            IRWA
        </div>

    </div>



   <nav class="nav">

<a href="{% url 'home' %}"
   class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
    🏠 {% trans "Home" %}
</a>

<a href="{% url 'operations_home' %}"
   class="{% if request.resolver_match.url_name == 'operations_home' %}active{% endif %}">
    📋 {% trans "Operations" %}
</a>

<a href="{% url 'tables' %}"
   class="{% if request.resolver_match.url_name == 'tables' %}active{% endif %}">
    ☢ {% trans "Sources" %}
</a>

<a href="{% url 'waste_list' %}"
   class="{% if request.resolver_match.url_name == 'waste_list' %}active{% endif %}">
    ♻ {% trans "Waste" %}
</a>

<a href="{% url 'facility_list' %}"
   class="{% if request.resolver_match.url_name == 'facility_list' %}active{% endif %}">
    🏢 {% trans "Facilities" %}
</a>

<a href="{% url 'radionuclide_list' %}"
   class="{% if request.resolver_match.url_name == 'radionuclide_list' %}active{% endif %}">
    ☢ {% trans "Reference Data" %}
</a>

<a href="{% url 'contract_index' %}"
   class="{% if request.resolver_match.url_name == 'contract_index' %}active{% endif %}">
    📑 {% trans "Contracts" %}
</a>

<a href="#">
    🧪 {% trans "Laboratory" %}
</a>

<a href="{% url 'analytics_home' %}"
   class="{% if request.resolver_match.url_name == 'analytics_home' %}active{% endif %}">
    📊 {% trans "Reports" %}
</a>


    {% if request.user.is_authenticated %}
    <a href="{% url 'password_change' %}">
        <i class="tim-icons icon-lock-circle"></i>
        <p>{% trans "Change Password" %}</p>
      </a>
     
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}

        <button class="nav-btn" type="submit">
            {% trans "Logout" %}
        </button>

    </form>

    {% else %}

    <a href="{% url 'login' %}">
        {% trans "Login" %}
    </a>

    {% endif %}


    {% load i18n %}


<div class="language-box">

<button
class="language-current"
id="languageButton">

🌐
{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "fa" %}

فارسی

{% else %}

English

{% endif %}

▼

</button>


<div
class="language-menu"
id="languageMenu">

<form
action="{% url 'set_language' %}"
method="post">

{% csrf_token %}

<input
type="hidden"
name="next"
value="{{ request.path }}">


<button
name="language"
value="fa">

فارسی

</button>


<button
name="language"
value="en">

English

</button>

</form>

</div>

</div>

</nav>


</aside>

<!-- Main -->
<main class="main" id="main">

   

    {% block content %}
    {% endblock %}

</main>
<meta name="csrf-token" content="{{ csrf_token }}">
<script src="{% static 'js/base.js' %}"></script>
<link rel="stylesheet"
      href="{% static 'vendor/jalali-datepicker/jalali-datepicker.css' %}">

<script src="{% static 'vendor/jalali-datepicker/jalaali.js' %}"></script>

<script src="{% static 'vendor/jalali-datepicker/jalali-datepicker.js' %}"></script>

<script src="{% static 'js/localization.js' %}"></script>


{% block extrascript %}
{% endblock %}

</body>
</html>