

<h1>IRWA Waste Management System</h1>

<hr>

<div class="row">

<div class="col-md-3">

<div class="card">

<div class="card-body">

<h5>Waste</h5>

<a href="{% url 'waste_list' %}"
   class="btn btn-primary">
   Waste List
</a>

<br><br>

<a href="{% url 'waste_create' %}"
   class="btn btn-success">
   Receive Waste
</a>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card">

<div class="card-body">

<h5>Laboratory</h5>

<a href="{% url 'lab_queue' %}"
   class="btn btn-warning">
   Lab Queue
</a>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card">

<div class="card-body">

<h5>Operations</h5>

<a href="{% url 'merge_operation' %}"
   class="btn btn-info">
   Merge
</a>

</div>

</div>

</div>

</div>
