{% extends "base.html" %}
{% load i18n %}
{% load receiving_extras %}
{% load sell_tags %}
{% block title %}
{% trans "CEO" %}
{% endblock title %}


{% block extrastyle %}

<style>

.home-container{
    padding:30px;
}


.home-title{
    font-size:28px;
    font-weight:700;
    margin-bottom:10px;
}


.home-subtitle{
    color:#777;
    margin-bottom:30px;
}


.home-grid{

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}


.home-card{

    background:white;

    border-radius:16px;

    padding:25px;

    text-decoration:none;

    color:inherit;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);

    transition:.25s;

    display:flex;

    flex-direction:column;

    justify-content:center;

    min-height:130px;

}


.home-card:hover{

    transform:translateY(-5px);

    box-shadow:
    0 10px 25px rgba(0,0,0,.15);

}


.home-icon{

    font-size:35px;

    margin-bottom:15px;

}


.home-card h3{

    margin:0;

    font-size:20px;

}


.home-card p{

    margin-top:8px;

    color:#777;

}


.home-count{

    font-weight:700;
    color:#333 !important;

}

</style>

{% endblock extrastyle %}



{% block content %}


<div class="home-container">


<h1 class="home-title">

{% trans "CEO Dashboard" %}

</h1>


<p class="home-subtitle">

{% trans "Manage CEO approvals and decisions" %}

</p>



<div class="home-grid">


   {% receiving_queue_count "WAITING_CEO" as ceo_count %}
<a href="{% url 'receive_ceo_queue' %}" class="home-card">
    <div class="home-icon">💸</div>
    <h3>{% trans "Source Delivery Discount Requests" %}</h3>
    <p> {{ ceo_count }}
        {% trans "Discount-requested requests awaiting CEO" %}</p>
    
</a>

 <a href="{% url 'sell_ceo_queue' %}" class="home-card">
            <div class="home-icon">☢️</div>
            <h3>{% trans "DSRS Requests" %}</h3>
            <p> {% sell_ceo_count %} {% trans "DSRS Requests waiting for CEO signature" %}</p>
           
        </a>

<!-- Future CEO functions -->

<!-- <a href="#" class="home-card">

<div class="home-icon">
📄
</div>


<h3>
{% trans "Decisions" %}
</h3>


<p>
{% trans "CEO decisions and approvals history" %}
</p>


</a>



<a href="#" class="home-card">

<div class="home-icon">
📊
</div>


<h3>
{% trans "CEO Reports" %}
</h3>


<p>
{% trans "Review CEO related reports" %}
</p>


</a> -->



</div>


</div>


{% endblock content %}