{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}



{% block title %}

{% trans "Operation Control Manager Input" %}

{% endblock %}





{% block content %}



<div class="container-fluid py-4">



<div class="row justify-content-center">



<div class="col-xl-8">





<div class="card shadow-sm">





<div class="card-header">


<h3 class="mb-0">

{% trans "Operation Personnel Adjustment" %}

</h3>


</div>








<div class="card-body">





<div class="alert alert-info">


<strong>

{% trans "Facility" %}

:

</strong>


{{ receive_request.facility.name }}


<br>


<strong>

{% trans "Inquiry Letter" %}

:

</strong>


{{ receive_request.inquiry_letter_number }}



</div>








<div class="card mb-4">



<div class="card-header">


<h5 class="mb-0">


① {% trans "Add Personnel" %}


</h5>


</div>





<div class="card-body">





<p class="text-muted">


{% trans "Add additional operation personnel. Existing values cannot be reduced." %}


</p>






<form method="post">


{% csrf_token %}




{% crispy form %}






<div class="d-flex justify-content-end gap-2 mt-4">





<a

href="{% url 'receive_manager_input' receive_request.pk %}"

class="btn btn-secondary">


{% trans "Back" %}


</a>






<button

type="submit"

class="btn btn-primary">


{% trans "Save Changes" %}


</button>





</div>






</form>





</div>


</div>








<div class="card">



<div class="card-header">


<h5 class="mb-0">


② {% trans "Current Personnel" %}


</h5>


</div>





<div class="card-body">





<table class="table table-bordered table-striped">



<thead class="table-light">


<tr>


<th>

{% trans "Experts" %}

</th>


<th>

{% trans "Technicians" %}

</th>


<th>

{% trans "Drivers" %}

</th>


</tr>


</thead>





<tbody>


<tr>


<td>

{{ receive_request.operation_expert_count }}

</td>


<td>

{{ receive_request.operation_technician_count }}

</td>


<td>

{{ receive_request.operation_driver_count }}

</td>



</tr>


</tbody>



</table>





</div>


</div>







</div>


</div>




</div>


</div>


</div>




{% endblock %}