{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}{% trans "Tables" %}{% endblock %}

{% block content %}
{% block extrastyle %}
<style>
    .action-icons {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* base icon button */
.icon-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;

    border-radius: 8px;

    text-decoration: none;
    font-size: 16px;

    background: #f5f6f8;
    color: #444;

    transition: all 0.2s ease;
    border: 1px solid transparent;
}

/* hover effect */
.icon-btn:hover {
    transform: translateY(-2px);
    background: #ffffff;
    border-color: #ddd;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* individual colors */
.icon-btn.edit:hover {
    color: #d39e00;
}

.icon-btn.chart:hover {
    color: #0d6efd;
}

.icon-btn.history:hover {
    color: #6c757d;
}
.actions a{
    display:inline-block;
    padding:6px 10px;
    margin-right:5px;
    border-radius:4px;
    text-decoration:none;
    font-size:14px;
}
.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:6px;
    margin-top:15px;
}

.pagination a,
.pagination span{
    padding:6px 12px;
    border:1px solid #ccc;
    border-radius:4px;
    text-decoration:none;
}

.pagination .current{
    background:#0d6efd;
    color:#fff;
    border-color:#0d6efd;
}

.page-info{
    text-align:center;
    margin-top:10px;
    color:#666;
}

  .col-toggle {
    width: 16px !important;
    height: 16px !important;
    min-width: 16px !important;
    min-height: 16px !important;
    flex: 0 0 auto !important;
    opacity: 1 !important;
    display: inline-block !important;
    appearance: auto !important;
    -webkit-appearance: checkbox !important;
}

.column-panel label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    white-space: nowrap;
}

.column-panel {
    display: flex;
    flex-direction: column;


}
.hidden {
    display: none !important;
}
#filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

#filterContainer > * {
  display: inline-flex;
  align-items: center;
}
</style>
{% endblock extrastyle %}
<div class="content">

<!-- ================= HEADER TOOLBAR ================= -->
<div class="table-header">

  <!-- LEFT: search -->
  <div class="header-group">
    <input
    type="text"
    id="searchInput"
    placeholder="{% trans 'Search...' %}">
    <button>🔍</button>
  </div>

  <!-- COLUMN TOGGLE -->
  <div class="column-bar">

    <button class="btn-gray" onclick="toggleColumnPanel()">
    ☰ {% trans "Show/Hide Columns" %}
</button>

    <div id="columnPanel" class="column-panel hidden"></div>
  </div>

  <!-- CENTER: page size -->
   <form method="get">
  <div class="header-group">
    <label for="pageSize">{% trans "Items:" %}</label>
 <select 
    id="pageSize"
    name="size"
    onchange="this.form.submit()">
    <option value="10" {% if page_size == "10" %}selected{% endif %}>10</option>
    <option value="25" {% if page_size == "25" %}selected{% endif %}>25</option>
    <option value="50" {% if page_size == "50" %}selected{% endif %}>50</option>
    <option value="all" {% if page_size == "all" %}selected{% endif %}>{% trans "All" %}</option>
</select>
  </div>
   </form>
  <!-- RIGHT: actions -->
  <div class="header-group">
    
    <button class="btn-green" onclick="exportCSV()">{% trans "Export CSV" %}</button>
    <button class="btn-blue" id="createContractBtn">
        {% trans "send to Pars Isotop" %}
    </button>
    <a href="{% url 'add_source' %}" class="btn-blue">+ {% trans "Add Source" %}</a>
  </div>

</div>

<!-- ================= FILTER BAR ================= -->
<div class="filter-bar">

  <div id="filterContainer"></div>

  <button id="addFilter" class="btn-blue"> {% trans "Add Filter" %}</button>
  <button id="applyFilters" class="btn-info"> {% trans "Apply" %}</button>

</div>

<!-- ================= TABLE ================= -->
<div class="table-scroll">

<table id="mainTable">

<thead>
<tr>

<th>{% trans "Select" %}</th>

<th data-col="Nuclide">
    {% trans "Radionuclide" %}
</th>

<th data-col="serial_number">
    {% trans "Serial Number" %}
</th>


<th data-col="Source_Type">
    {% trans "Source Type" %}
</th>


<th data-col="Contract_Number">
    {% trans "Contract Number" %}
</th>

<th data-col="is_divisible">
    {% trans "Divisible" %}
</th>

<th data-col="source_count">
    {% trans "Total Quantity" %}
</th>

<th data-col="available_count">
    {% trans "Available Quantity" %}
</th>

<th data-col="Facility">
    {% trans "Current Facility" %}
</th>

<th data-col="Origin_Type">
    {% trans "Origin Type" %}
</th>

<th data-col="Date_received">
    {% trans "Date Received" %}
</th>

<th data-col="Origin_Facility">
    {% trans "Previous Facility" %}
</th>

<th data-col="Location">
    {% trans "Storage Location" %}
</th>

<th data-col="Status">
    {% trans "Status" %}
</th>

<th data-col="Status_Date">
    {% trans "Status Date" %}
</th>

<th data-col="Responsible_Person">
    {% trans "Responsible Person" %}
</th>



<th data-col="activity_input">
    {% trans "Entered Activity" %}
</th>

<th data-col="activity_unit">
    {% trans "Activity Unit" %}
</th>

<th data-col="Activity">
    {% trans "Current Activity" %}
</th>

<th data-col="Category">
    {% trans "Category" %}
</th>

<th data-col="Activity_reference_date">
    {% trans "Activity Reference Date" %}
</th>


<th data-col="Dose_rate_surface_uSv">
    {% trans "Surface Dose Rate (µSv/h)" %}
</th>

<th data-col="Dose_rate_1m_uSv">
    {% trans "Dose Rate @ 1m (µSv/h)" %}
</th>

<th data-col="Dose_rate_measurement_date">
    {% trans "Dose Measurement Date" %}
</th>

<th data-col="source_state">
    {% trans "Source State" %}
</th>

<th data-col="contamination_bq_cm2">
    {% trans "Contamination (Bq/cm²)" %}
</th>

<th data-col="Source_Physical_Form">
    {% trans "Physical Form" %}
</th>

<th data-col="Source_Manufacturer">
    {% trans "Source Manufacturer" %}
</th>

<th data-col="Source_Model">
    {% trans "Source Model" %}
</th>

<th data-col="Source_Practice">
    {% trans "Practice" %}
</th>

<th data-col="Device_Manufacturer">
    {% trans "Device Manufacturer" %}
</th>

<th data-col="Device_Model">
    {% trans "Device Model" %}
</th>

<th data-col="Device_Serial_Number">
    {% trans "Device Serial Number" %}
</th>

<th data-col="Container_Type">
    {% trans "Container Type" %}
</th>

<th data-col="Dimension">
    {% trans "Dimensions" %}
</th>

<th data-col="Sso_Code">
    {% trans "SSO Code" %}
</th>

<th data-col="Attachments">
    {% trans "Attachments" %}
</th>

<th data-col="Comment">
    {% trans "Remarks" %}
</th>

<th data-col="created_by">
    {% trans "Created By" %}
</th>

<th data-col="created_at">
    {% trans "Created Date" %}
</th>

<th>
    {% trans "Actions" %}
</th>

</tr>
</thead>

<tbody id="tableBody">

{% for s in sources %}
<tr>
<td>
    <input 
        type="checkbox"
        class="contract-checkbox"
        value="{{ s.id }}">
</td>

<td data-col="Nuclide">{{ s.Nuclide }}</td>
<td data-col="serial_number">{{ s.serial_number }}</td>
<td data-col="Source_Type">{{ s.Source_Type }}</td>

<td data-col="Contract_Number">{{ s.contract_number }}</td>
<td data-col="Is_Divisible">{{ s.is_divisible|yesno:_("Yes,No") }}</td>
<td data-col="Source_Count">{{ s.source_count }}</td>
<td data-col="Available_Count">{{ s.available_count }}</td>
<td data-col="Facility">{{ s.Facility }}</td>
<td data-col="Origin_Type">{{ s.Origin_Type }}</td>
<td data-col="Date_received">{{ s.Date_received }}</td>
<td data-col="Origin_Facility">
    {% with movement=s.movements.first %}
        {{ movement.from_facility }}
    {% endwith %}
</td>
<td data-col="Location">{{ s.Location }}</td>

<td data-col="Status">{{ s.Status }}</td>
<td data-col="Status_Date">{{ s.Status_Date }}</td>
<td data-col="Responsible_Person">{{ s.Responsible_Person }}</td>

<td data-col="activity_input">{{ s.activity_input }}</td>
<td data-col="activity_unit">{{ s.activity_unit }}</td>
<td data-col="Activity">{{ s.current_activity_mci_value|default:"-" }}</td>
<td data-col="Category">{{ s.category_value|default:"N/A" }}</td>
<td data-col="Activity_reference_date">{{ s.Activity_reference_date }}</td>

<td data-col="Dose_rate_surface_uSv">{{ s.Dose_rate_surface_uSv }}</td>
<td data-col="Dose_rate_1m_uSv">{{ s.Dose_rate_1m_uSv }}</td>
<td data-col="Dose_rate_measurement_date">{{ s.Dose_rate_measurement_date }}</td>
<td data-col="source_state">{{ s.source_state }}</td>
<td data-col="contamination_bq_cm2">{{ s.contamination_bq_cm2 }}</td>
<td data-col="Source_Physical_Form">{{ s.Source_Physical_Form }}</td>
<td data-col="Source_Manufacturer">{{ s.Source_Manufacturer }}</td>
<td data-col="Source_Model">{{ s.Source_Model }}</td>
<td data-col="Source_Practice">{{ s.Source_Practice }}</td>
<td data-col="Device_Manufacturer">{{ s.Device_Manufacturer }}</td>
<td data-col="Device_Model">{{ s.Device_Model }}</td>
<td data-col="Device_Serial_Number">{{ s.Device_Serial_Number }}</td>
<td data-col="Container_Type">{{ s.Container_Type }}</td>
<td data-col="Dimension">{{ s.Dimension }}</td>
<td data-col="Sso_Code">{{ s.Sso_Code }}</td>
<td data-col="Attachments">
    {% for img in s.dsrs_images.all %}
        {% if img.file %}
            <a href="{{ img.file.url }}">{% trans "Image" %} {{ forloop.counter }}</a><br>
        {% endif %}
    {% endfor %}

    {% with last_movement=s.movements.last %}
        {% for att in last_movement.attachments.all %}
            <a href="{{ att.file.url }}" target="_blank">{% trans "Movement File" %} {{ forloop.counter }}</a><br>
        {% endfor %}
    {% endwith %}
</td>

<td data-col="Comment">{{ s.Comment }}</td>
<td data-col="created_by">{{ s.created_by }}</td>
<td data-col="created_at">{{ s.created_at }}</td>


<td class="action-icons">

  <a href="{% url 'edit_source' s.id %}" class="icon-btn edit" title="{% trans 'Edit' %}">
    ✏️
  </a>

  <a href="{% url 'decay_chart' s.id %}" class="icon-btn chart" title="{% trans 'Chart' %}">
    📊
  </a>

  <a href="{% url 'dsrs_history' s.id %}" class="icon-btn history" title="{% trans 'History' %}">
    🕓
  </a>

</td>

</tr>
{% endfor %}

</tbody>
</table>

</div>

</div>
<div class="pagination">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if page_size %}&size={{ page_size }}{% endif %}">
            {% trans "Previous" %}
        </a>
    {% endif %}

    {% if page_obj.number > 3 %}
        <a href="?page=1{% if page_size %}&size={{ page_size }}{% endif %}">1</a>

        {% if page_obj.number > 4 %}
            <span>...</span>
        {% endif %}
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
            {% if page_obj.number == num %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}{% if page_size %}&size={{ page_size }}{% endif %}">
                    {{ num }}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}

        {% if page_obj.number < page_obj.paginator.num_pages|add:"-3" %}
            <span>...</span>
        {% endif %}

        <a href="?page={{ page_obj.paginator.num_pages }}{% if page_size %}&size={{ page_size }}{% endif %}">
            {{ page_obj.paginator.num_pages }}
        </a>

    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if page_size %}&size={{ page_size }}{% endif %}">
            {% trans "Next" %}
        </a>
    {% endif %}

</div>

<div class="page-info">
     {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
    {% blocktrans count total=page_obj.paginator.count %}
({{ total }} record)
{% plural %}
({{ total }} records)
{% endblocktrans %}
</div>
<!-- ================= JS ================= -->
<script>
function currentParams() {
    return new URLSearchParams(window.location.search);
}

function runSearch() {
    const p = currentParams();
    const term = document.getElementById("searchInput").value.trim();
    if (term) {
        p.set("search", term);
    } else {
        p.delete("search");
    }
    p.delete("page");
    window.location.search = p.toString();
}

document.getElementById("searchInput").addEventListener("keydown", function (e) {
    if (e.key === "Enter") {
        e.preventDefault();
        runSearch();
    }
});

document.querySelector(".header-group button").addEventListener("click", function (e) {
    e.preventDefault();
    runSearch();
});

// Keep the search box showing whatever's actually active after reload
document.addEventListener("DOMContentLoaded", function () {
    const existing = currentParams().get("search");
    if (existing) {
        document.getElementById("searchInput").value = existing;
    }
});

function getCookie(name) {
    let cookieValue = null;
    document.cookie.split(';').forEach(c => {
        c = c.trim();
        if (c.startsWith(name + '=')) {
            cookieValue = decodeURIComponent(c.split('=')[1]);
        }
    });
    return cookieValue;
}



// PAGE SIZE
document.getElementById("pageSize").onchange = function () {
    let p = new URLSearchParams(window.location.search);
    p.set("size", this.value);
    p.delete("page");
    window.location.search = p.toString();
};

// EXPORT
window.exportCSV = function () {
    let params = window.location.search;
    window.location.href = "/export-csv/" + params;
};

// FILTERS
document.getElementById("addFilter").onclick = function () {
    let row = document.createElement("div");
    row.className = "d-flex mb-2";
    row.innerHTML = `
       <select class="form-control mr-2 key">
        <option value="Source_Type">{% trans "Source Type" %}</option>
        <option value="Sso_Code">{% trans "SSO Code" %}</option>
        <option value="Contract_Number">{% trans "Contract" %}</option>
        <option value="is_divisible">{% trans "Divisible" %}</option>
        <option value="source_count">{% trans "Count" %}</option>
        <option value="available_count">{% trans "Available" %}</option>
        <option value="Facility">{% trans "Facility" %}</option>
        <option value="Origin_Type">{% trans "Origin" %}</option>
        <option value="Date_received">{% trans "Received" %}</option>
        <option value="Origin_Facility">{% trans "Origin Facility" %}</option>
        <option value="Location">{% trans "Location" %}</option>
        <option value="Status">{% trans "Status" %}</option>
        <option value="Status_Date">{% trans "Status Date" %}</option>
        <option value="Responsible_Person">{% trans "Responsible" %}</option>
        <option value="Nuclide">{% trans "Nuclide" %}</option>
        <option value="activity_input">{% trans "Input" %}</option>
        <option value="activity_unit">{% trans "Unit" %}</option>
        
        <option value="Activity_reference_date">{% trans "Reference Date" %}</option>
        <option value="serial_number">{% trans "Serial Number" %}</option>
        <option value="Dose_rate_surface_uSv">{% trans "Surface Dose" %}</option>
        <option value="Dose_rate_1m_uSv">{% trans "1 m Dose" %}</option>
        <option value="Dose_rate_measurement_date">{% trans "Dose Date" %}</option>
        <option value="source_state">{% trans "State" %}</option>
        <option value="contamination_bq_cm2">{% trans "Contamination" %}</option>
        <option value="Source_Physical_Form">{% trans "Form" %}</option>
        <option value="Source_Manufacturer">{% trans "Source Manufacturer" %}</option>
        <option value="Source_Model">{% trans "Source Model" %}</option>
        <option value="Source_Practice">{% trans "Practice" %}</option>
        <option value="Device_Manufacturer">{% trans "Device Manufacturer" %}</option>
        <option value="Device_Model">{% trans "Device Model" %}</option>
        <option value="Device_Serial_Number">{% trans "Device Serial Number" %}</option>
        <option value="Container_Type">{% trans "Container" %}</option>
        <option value="Dimension">{% trans "Dimension" %}</option>
        
        <option value="Comment">{% trans "Comment" %}</option>
        <option value="created_by">{% trans "User" %}</option>
        <option value="created_at">{% trans "Created" %}</option>
</select>
        <input class="form-control mr-2 value" placeholder="{% trans 'Value' %}">
        <button class="btn btn-danger">X</button>
    `;
    row.querySelector("button").onclick = () => row.remove();
    document.getElementById("filterContainer").appendChild(row);
};

document.getElementById("applyFilters").onclick = function () {
    let k = document.querySelectorAll(".key");
    let v = document.querySelectorAll(".value");
    let p = new URLSearchParams();

    k.forEach((x,i)=>{
        if(v[i].value){
            p.append("key", x.value);
            p.append("value", v[i].value);
        }
    });

    window.location.href = "?" + p.toString();
};

// SHOW/HIDE COLUMNS
// ================= CREATE COLUMN CHECKBOXES =================

const panel = document.getElementById("columnPanel");

document.querySelectorAll("#mainTable thead th[data-col]").forEach(th => {

    const col = th.dataset.col;

    const label = document.createElement("label");

    label.innerHTML = `
        <input
            type="checkbox"
            class="col-toggle"
            data-col="${col}"
            checked>
        ${th.innerText}
    `;

    panel.appendChild(label);

});
// LOAD SAVED COLUMNS
fetch("/get-column/")
.then(r => r.json())
.then(data => {

    data.forEach(c => {

        const checkbox =
            document.querySelector(`.col-toggle[data-col="${c.key}"]`);

        if (checkbox) {
            checkbox.checked = c.value;
        }

        document.querySelectorAll(`[data-col="${c.key}"]`).forEach(el => {
            el.style.display = c.value ? "" : "none";
        });

    });

});

function toggleColumnPanel() {
    document.getElementById("columnPanel").classList.toggle("hidden");
}

document.addEventListener("change", function (e) {

    if (!e.target.classList.contains("col-toggle")) return;

    const col = e.target.dataset.col;
    const show = e.target.checked;

    // SHOW / HIDE COLUMN
    document.querySelectorAll(`[data-col="${col}"]`).forEach(el => {
        el.style.display = show ? "" : "none";
    });

    // SAVE TO BACKEND
    fetch("/save-column/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken")
        },
        body: JSON.stringify({
            key: col,
            value: show
        })
    });

});

// ================= CREATE CONTRACT =================

document.getElementById("createContractBtn").onclick = function(){

    let selected = [];
    document.querySelectorAll(".contract-checkbox:checked").forEach(cb => selected.push(cb.value));

    if(selected.length === 0){
        alert("Please select at least one DSRS record.");
        return;
    }

    const form = document.createElement("form");
    form.method = "POST";
    form.action = "{% url 'contract_send_to_pi' %}";

    const csrfInput = document.createElement("input");
    csrfInput.type = "hidden";
    csrfInput.name = "csrfmiddlewaretoken";
    csrfInput.value = getCookie("csrftoken");
    form.appendChild(csrfInput);

    selected.forEach(id => {
        const input = document.createElement("input");
        input.type = "hidden";
        input.name = "ids";
        input.value = id;
        form.appendChild(input);
    });

    document.body.appendChild(form);
    form.submit();
};
</script>

{% endblock %}